extends layout

block content
	p Willkommen beim Bugwelder Datei-Upload
	img.logo(src='images/nerd.png')
	#fileInfo
		h1 File Informations:
		#fileName
		#fileSize
		#fileType
		#progress
			#indicator
		#uploade_complete
			label Finished: 
			a.btn.btn-success(href='/login', title='download file').download
	.div(style="padding:10px;")
		form(id='uploadForm', enctype='multipart/form-data')
			span(style="padding:10px;")
				input(name="file", id='inputFile', type='file')
			span(style="padding:10px;")		
				input.btn.btn-primary(id='inputSubmit', type='button', value='Upload')

			script(src='/javascripts/main.js')
			script
				$('#inputFile').customFileInput({
					button_position : 'right'
				});