!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/enhanced.css')
  script(src='http://code.jquery.com/jquery-1.7.1.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/enhance.min.js')
  script(src='/javascripts/fileinput.jquery.js')
  body
    include header
    .content
        block content
    include footer